<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test of crawling</title>
    <style>
        body{
            width:500px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<h1>Crawler request header, request parameter test</h1>

<h3>GET request</h3>
<p><a href="/get">get</a></p>

<h3>POST request</h3>

<form action="/post" METHOD="post">
    <p><label for="name">name: </label><input id="name" type="text" name="name"></p>
    <p><label for="age"> age: </label><input id="age" type="text" name="age"></p>
    <p><input type="submit"></p>
</form>

<p>author：<a href="https://github.com/mouday">https://github.com/mouday</a></p>
<p>reference：<a href="https://httpbin.org/">https://httpbin.org/</a></p>

</body>
</html>
